body {
  font-family: "Aptos Display", Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background: #f7f7f7;
}

.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 20px;
  font-weight: 600;
}

h1::before,
h1::after {
  content: "";
  display: block;
  height: 2px;
  background: #333;
  margin: 10px 0;
}

a {
  color: #0F4761;
  text-decoration: none;
}

.knapp, .tilbake {
  display: block;
  width: 100%;
  margin: 12px 0;
  padding: 14px 18px;

  border-radius: 16px;
  white-space: normal;
  box-shadow: 0 6px 16px rgba(0,0,0,0.08);

  text-decoration: none;

  transition: all 0.2s ease;
  text-align: left;
  font-size: 18px;
  font-weight: 600;

  background: #E2E2E2;

  box-sizing: border-box;   /* ✅ viktig */
}

.knapp {
  color: #0F4761;


}

.knapp:hover, .tilbake:hover{
  background: #B3DFF3;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.12);
}

.tilbake {
  color: #0f47618e;

}
